@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(32, 31, 31);
    height: 45px;
    color: #fff;
    padding: 0 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box:hover{
    background-color: aliceblue;
}
.gameinfo{
    padding: 0 29px;
}

.imgbox img{
    width:0;
    transition: width 1s ease-in-out;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.info{
    font-size: 22px;
}

#reset{
    margin-top: 20px;
    margin-left: 40px;
    background-color: rgb(199, 214, 241);
    border: none;
    padding: 8px 25px 8px 25px;
    border-radius: 5px;
    color: #3b3939;
    cursor: pointer;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}


@media screen and (max-width: 800px) {
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}